<!DOCTYPE html>

<!--


	/!\ TODO (half done) /!\


	Refactor the whole page with "templates" and maybe a default 
	content displayed (for search engines).
	

	This page is the only html page served for the desktop app
	(no more /start).



-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SquareTune - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/common/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app/css/design.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="/css/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/css/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/css/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/css/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/css/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/css/bootstrap/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-static-top navbar-inverse" id="navbar">
        <div class="navbar-inner">
            <div class="container">


                <!-- Brand -->
                <a class="brand" href="#">Project name</a>
                
                <!-- Nav links -->
                <ul class="nav">
                    <li class="nav-link active" data-page="music">
                        <a href="#/music">Music</a>
                    </li>
                    <li class="nav-link" data-page="party">
                        <a href="#/party">Party</a>
                    </li>
                </ul>

                <!-- Search field -->
                <form id="navbarSearch" class="navbar-search pull-left">
                    <input type="text" class="search-query" placeholder="Search">
                </form>
                
                <!-- login -->
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Log in
                            <b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            
                            <form>
                               
                                <div class="container-fluid">
                                    <input type="text" class="span3" placeholder="Username">
                                    <input type="password" class="span3" placeholder="Password">
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn pull-left;">Log in</button>
                                    <div class="pull-right btn-link">
                                        <a href="#">new to [project name] ?</a>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </li>
                </ul>
                        
                <!-- Login view -
                <form class="navbar-form pull-right">
                    <input type="text" class="span2" placeholder="Username">
                    <input type="password" class="span2" placeholder="Password">
                    <button type="submit" class="btn">Log in</button>
                </form>-->
        
            </div>
        </div>
    </div>
	
    
    <div id="mainContainer">
        <div id="mainContents" class="container">
            <noscript>
                <!-- TODO : handle users without javascript (gtfo biatch) -->
            </noscript>
        </div> <!-- /container -->
	</div>
    
	<div id="partyPanel" class="panelShrinked">
        <div id="panelShrinkedContents">
            <div class="container">
                <div class="text-center">
                    <a href="#" class="expandButton" data-action="expand">
                        <i class="icon-arrow-up icon-white" ></i>
                        <i class="icon-arrow-up icon-white" ></i>
                        <i class="icon-arrow-up icon-white" ></i>
                    </a>
                </div>
                Here will be a condensed player and playlist.
            </div>
        </div>
        <div id="panelExpandedContents" style="display: none">
            <div class="container">
                <div class="text-center">
                    <a href="#" class="expandButton" data-action="shrink">
                        <i class="icon-arrow-down icon-white" ></i>
                        <i class="icon-arrow-down icon-white" ></i>
                        <i class="icon-arrow-down icon-white" ></i>
                    </a>
                </div>
                <div id="panelPage"><!--- TODO : place in a template with specific js view file -->
                    <h1>Party</h1>
                    <p>Here will be a complete player with it's playlist and some party administration stuff</p>
                </div>
            </div>
        </div>
    </div>
    
	<!-- Templates -->
	
	<script type="text/jst" id="homeTemplate">
        <h1>Welcome to square...something !</h1>
        <div class="row">
            <div class="span12">
                <h2>Start right now</h2>
                <p>Go <a href="#/music">right here</a> to pick some cool sound or <a href="#/party">here</a> to manage your party. Don't forget to use
                the search bar ;)</p>
            </div>
        </div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="span6">
            <h2>What is SquareTune?</h2>
            <p>SquareTune is a collaborative music system for your parties, designed for you.</p>
            <p>Don't worry about the playlist anymore, it's up to your guests to make it.</p>
            </div>
            <div class="span6">
                <h2>How does it works?</h2>
                <p>Create playlists by importing music from YouTube or your hard drive and let your friends vote from their 
                smartphone for the music they want to listen to. Anyone can also propose a new song via an integrated YouTube search.</p>
            </div>
        </div>
	</script>
    
    <script type="text/jst" id="djTemplate">
        
        <h1><%= party.name %></h1>
        
        <div class="row">
            <div class="span3">
                <div id="playlist"></div>
            </div>
            <div class="span6">
                <div id="player"></div>
            </div>
        </div>
    </script>
    
    <script type="text/jst" id="partyEditTemplate">
        <form class="partyForm">
        <fieldset>
            <legend><% if(isNew){ %> 
                Create 
            <%} else { %>
                Edit
            <%}%>
            a party</legend>
            
            <div class="control-group" id="nameControlGroup">
              <label class="control-label" for="partyNameInput">Choose a cool name for your party:</label>
              <div class="controls">
                <input type="text" id="partyNameInput" <% if(isNew){%>placeholder="My awesome party"<%} else {%> value="<%= party.name %>"<% } %> >
                <span class="help-inline helper"></span>
              </div>
            </div>
            <a href="#" class="btn cancelBtn">Cancel</a>
            <button type="submit" class="btn btn-primary submitBtn">Submit</button><img style="display: none;" class="ajaxLoader" src="app/img/ajax-loader.gif" alt="loading" />
        </fieldset>
        </form>
    </script>
    
    <script type="text/jst" id="playlistTemplate">
        <a href="#/music" class="openLibrary"><i class="icon-plus-sign" /> Add songs</a>
        <ol>
            <% _.each(songs, function(song){ %>
            <li><%= song.title %></li>
            <% }); %>
        </ol>
    </script>
    
    <script type="text/jst" id="playerTemplate">
        <p class="well">
            <strong>Here will come a fancy player. Currently played song : <%= song.title %> </strong>
        </p>
    </script>
    
    <script type="text/jst" id="resNotFoundTemplate">
        <h1>Not found</h1>
    </script>
    
    <script type="text/jst" id="musicTemplate">
        <h1>Music</h1>
        
    </script>
    
    <script type="text/jst" id="searchTemplate">
        <div class="btn-group" id="selectSources">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Select where you want to search from
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% _.each(sources, function(source) { %>
                <li><a href="#" class="selectSource" data-id="<%= source.title %>"><i></i> <%= source.title %></a></li>
            <% }); %>
            <!--<li><a href="#"><i class="icon-ok"></i> Youtube</a></li>
            <li><a href="#">Grooveshark</a></li>
            <li><a href="#">Spotify</a></li>
            <li><a href="#">My music</a></li>!-->
          </ul>
        </div>
        <h1>Search</h1>
        
        <p>Displaying search results for query : <strong><%= keywords %></strong><br />
        <em>Btw : check out this awesome XSS</em></p>

        <div id="results"></div>
        
    </script>

    <script type="text/jst" id="searchResultTemplate">
        <div class="searchResult media">
            <% if(result.get('thumb')) { %>
                <div class="pull-left">
                <img class="media-object" src="<%= result.get('thumb') %>" />
            </div>
            <% } %>
            <div class="media-body">
                <div class="media-heading"><%= result.get('title') %></div>
            </div>
        </div>
    </script>

    <!-- Javascript placed at the end of the document so the page loads faster -->
    <script data-main="app/js/main" src="/common/js/lib/require-jquery.js"></script>
	
  </body>
</html>
